@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #e2e5f9;
    font-family: 'Mulish', sans-serif;
}

header {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.logo h1 {
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
}

.logo h1::first-letter {
    color: #A8B4FF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li:first-child {
    margin-right: 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 5px;
    background-color: #A8B4FF;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #7888FF;
}

main {
    text-align: left;
    padding: 20px;
    margin-left: 10%;
    margin-top: 5%;
    font-family: 'Mulish', sans-serif;
}

.intro {
    margin-bottom: 20px;
    font-size: 56px;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
}

.intro p {
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background-color: #d1d6ff;
    padding: 5px;
}

.about-me {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;
}

.btn:hover {
    background-color: #333;
    box-shadow: none;
}

.scroll-text {
    padding: 25px;
    margin-right: 10%;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000;
}

.work-list {
    margin-left: 20px;
    margin-bottom: 20px;
}

.work-item {
    padding-bottom: 10px;
    padding-top: 3px;
    padding-left: 15px;
}

.btn-work {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    display: inline-block;
    padding: 5px 5px;
    background-color: #000;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5%;
        margin-right: 5%;
    }
    .logo {
        margin-bottom: 10px;
    }
    nav {
        margin-top: 10px;
    }
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    .intro {
        font-size: 36px;
    }
    .about-me {
        font-size: 16px;
    }
    .scroll-text {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abril Fatface', cursive;
}

.intro h2 {
    margin-bottom: 10px;
}

.intro h2::after,
.intro p::after {
    display: none;
}